@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto&display=swap');

body {
font-family:'Comfortaa';
text-align: center;
background-color: whitesmoke;
font-size: 16px
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}
/*Created a sense of depth setting the div to brighter color, to help the user to more easily focus*/
.calcArea {
    background-color: white;
    box-sizing: border-box;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left:5%;
    padding-right:5%;
    padding-top:1%;
    padding-bottom:1%;
    border-radius:20px;
}
/* the fields that are alone unde2 the h2 caegories are all teal so that the user knows it is different and not meant to input there.*/
#bmrCalculated {
    color: teal;
}

#tdeeCalculated {
    color: teal;
}

#optimalCalorieIntake {
    color: teal;
}
/* the final section are all vlaues hat can not be altered directly by the user
 and to assist the user in not confusing htese imprtant values i chose three highly contrasting colors*/
#proteinSplit {
    color:red;
}

#fatSplit {
    color: green;
}

#carbSplit {
    color:blue;
}


